<div class="container">

    <div class="row">
        <button id="scrape-btn">Scrape Articles</button>          
    </div>

    <div class="row">
        <div class="col">
            <div id="articles" style= "display: inline-block; overflow: auto; width: 60%; height: 700px">

            </div>
<form  method="post">
  <div>
    <label for="notes">Comment:</label>
    <textarea id="notes" name="user_comment"></textarea>
  </div>
</form>
            <div id="notes"></div>
                        <button id="clear">Clear Results</button>                 
                        <button id="save-note">Save</button>
                        <button id="delete-note">Delete</button>
                    </div>
        
            </div>
        </div>

      
    </div>

</div>